<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="./react/styles.css"" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main class="container"></main>
  </body>
  <script src="./react/app.js"></script>
</html>
